services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres_local
    restart: no
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - devnet

volumes:
  postgres_data:

networks:
  devnet:
    driver: bridge
