name: Sync Main to Develop

on:
  push:
    branches:
      - main # Se activa cuando hay un push o merge a main

permissions:
  contents: write
  pull-requests: write # Permiso necesario para crear un PR

jobs:
  create_sync_pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Pull Request from main to develop
        uses: peter-evans/create-pull-request@c4be6727221650fd0d048d88e08d6d56d14902c5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'SYNC: Sincronizar nueva versión de main a develop'
          # Rama base: donde se quiere mergear (destino)
          base: develop
          # Rama head: la fuente de los cambios
          head: main
          title: 'SYNC: Merge de nueva versión estable a develop'
          body: |
            Este Pull Request sincroniza los cambios de la rama `main` (incluyendo la última versión estable) hacia `develop`. 
            
            Por favor, revisar y mergear para mantener `develop` actualizado.
          # Asigna un revisor automáticamente
          # reviewers: 'tu-usuario-de-github'
          # Asigna la etiqueta 'sync'
          labels: sync, automated